table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
 
}

td {
  border: 1px solid #dddddd;
  text-align: left;
  font-size: medium;
}

th {
  border: 1px solid #dddddd;
  text-align: center;
  font-size:large;
}

tr:nth-child(even) {
  background-color: #dddddd67;
}